{% if include.repository %}
{% assign repository = include.repository %}
<div class="card shadow-sm p-1 bg-body rounded" style="width: 25rem;">
    <div class="card-body">
        <div class="h3 card-title">
            {{repository.name}}
        </div>
        <div class="card-subtitle">
            {% octicon star-fill height:16 %} {{ repository.stargazers_count}}
            {% octicon eye height:16 %} {{ repository.watchers_count }}
        </div>
        <div class="card-text">{{repository.description}}</div>
    </div>
</div>
{% endif%}

